<div class="container" [@flyIn]="active">  
  <div class="row"  id="nav">
        <div class="col-md-12 filter">
          
          <ul class="nav nav-tabs">
            <li class="active"><a href="?tag=">全部</a></li>
            <li class=""><a href="?tag=web">Web开发</a></li>
            <!--li class=""><a href="?tag=mobile">App开发</a></li-->
            <li class=""><a href="?tag=data">数据管理</a></li>
            <li class=""><a href="?tag=machinelearning">机器学习</a></li>
            <li class=""><a href="?tag=devops">DevOps</a></li>
            <li class=""><a href="?tag=language">开发语言</a></li>
            <li class="navbar-right">
               <button class="btn btn-primary" id="search-btn">
                 搜索
               </button>
            </li>
            <li class="navbar-right">
              <form action="//www.runoob.com/" target="_blank">
                <input class="form-control" id="s" name="s" value="搜索……"  autocomplete="off">
              </form>
            </li>
          </ul>
       </div>
  </div>
</div>
<app-book-list></app-book-list>
