<div class="container">  
  <div class="row"  id="nav">
        <div class="col-md-12 filter"> 
          <ul class="nav nav-tabs">
            <li class="active"><a href="?tag=">全部</a></li>
            <li class=""><a href="?tag=web">Web开发</a></li>
          
            <li class=""><a href="?tag=data">数据管理</a></li>
            <li class=""><a href="?tag=machinelearning">机器学习</a></li>
            <li class=""><a href="?tag=devops">DevOps</a></li>
            <li class=""><a href="?tag=language">开发语言</a></li>
            <li class="navbar-right">
               <button class="btn btn-primary" id="search-btn">
                 搜索
               </button>
            </li>
            <li class="navbar-right">
              <form action="//www.runoob.com/" target="_blank">
                <input class="form-control" id="s" name="s" value="搜索……"  autocomplete="off">
              </form>
            </li>
          </ul>
       </div>
  </div>



<div class="row">
    <div class="post-item-container" *ngFor="let book of bookList; let i = index">
        <div class="col-lg-2" *ngIf="i<6"> 
            <a [routerLink]="['/bookshop/bookdetail',1]" class="thumbnail">
                <img src="{{book.imgURL}}" alt="通用的占位符缩略图">
            </a>
        </div >
    </div>
</div>
<div class="row">
    <div class="post-item-container" *ngFor="let book of bookList; let i = index">
        <div class="col-lg-2" *ngIf="i>=6&&i<12"> 
            <a [routerLink]="['/bookshop/bookdetail',1]" class="thumbnail">
                <img src="{{book.imgURL}}" alt="通用的占位符缩略图">
            </a>
        </div >
    </div>
</div>

<div class="row">
    <div class="post-item-container" *ngFor="let book of bookList; let i = index">
        <div class="col-lg-2" *ngIf="i>=12&&i<18"> 
            <a [routerLink]="['/bookshop/bookdetail',1]" class="thumbnail">
                <img src="{{book.imgURL}}" alt="通用的占位符缩略图">
            </a>
        </div >
    </div>
</div>
<div class="row">
    <div class="post-item-container" *ngFor="let book of bookList; let i = index">
        <div class="col-lg-2" *ngIf="i>=18&&i<24"> 
            <a [routerLink]="['/bookshop/bookdetail',1]" class="thumbnail">
                <img src="{{book.imgURL}}" alt="通用的占位符缩略图">
            </a>
        </div >
    </div>
</div>

</div>


     