<div class="container" [@flyIn]="active">
    <div class="row" >
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
      <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/113.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/114.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/115.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/116.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
    </div>
      <div class="row" >
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
      <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
    </div>
      <div class="row" >
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
      <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
    </div>
      <div class="row" >
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
      <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
        <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
       <div class="col-sm-2"> 
             <a href="#" class="thumbnail">
            <img src="./assets/imgs/thumb.png"
                 alt="通用的占位符缩略图">
             </a>
        </div>
    </div>
</div>