<div class="row" id="bookread">
  <div id="sidebar">
    <div id="panels">
      <input id="searchBox" placeholder="search" type="search">
      <a id="show-Search" class="show_view fa fa-search" data-view="Search"></a>
      <a id="show-Toc" class="show_view fa fa-th-list active" data-view="Toc">TOC</a>
      <a id="show-Bookmarks" class="show_view fa fa-bookmark" data-view="Bookmarks">  Bookmarks</a>
      <a id="show-Notes" class="show_view fa fa-edit" data-view="Notes">Notes</a>
    </div>
    <div id="tocView" class="view">
    </div>
    <div id="searchView" class="view">
      <ul id="searchResults"></ul>
    </div>
    <div id="bookmarksView" class="view">
      <ul id="bookmarks"></ul>
    </div>
    <div id="notesView" class="view">
      <div id="new-note">
        <textarea id="note-text"></textarea>
        <button id="note-anchor">Anchor</button>
      </div>
      <ol id="notes"></ol>
    </div>
    </div>
    
    <div id="main">
      <div id="titlebar">
        <div id="opener">
            <a id="slider" class="fa fa-th-large">  Menu</a>
        </div>
        <div id="metainfo">
          <span id="book-title"></span>
          <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
          <span id="chapter-title"></span>
        </div>
        <div id="title-controls">
          <a id="font" class="fa fa-font"></a>
          <a id='setting' class="fa  fa-cog"></a>
          <a id="bookmark" class="fa {{existBookmark?'fa-bookmark':'fa-bookmark-o'}}" (click)="bookmarkToggle()">  Bookmark</a>
          <a id="exit" class="fa fa-sign-out" (click)="goBack()">  Exit</a>
        </div>
      </div>
      
      <div id="divider"></div>
      <div id="prev" class="arrow">‹</div>
      <div id="viewer"></div>
      <div id="next" class="arrow">›</div>

      <div id="loader"><img src="assets/imgs/loader.gif"></div>
    </div>
    <div class="modal" style=""></div>
    <div class="modal md-effect-1" id="settings-modal">
      <!--<div class="md-content">
        <h3>Settings</h3>
        <div>
          <p>
            <input type="checkbox" id="sidebarReflow" name="sidebarReflow">Reflow text when sidebars are open.
          </p>
        </div>
        <div class="closer icon-cancel-circled"></div>
      </div>-->
    </div>
    <div class="overlay">
      <div class="over" style="position:absolute;width:100%;height:100%;top:0px;">

      </div>
           <div class="md-content">
        <h3>Settings</h3>
        <div>
          <h4>
            背景色
          </h4>
          <!--
            河白 #FFFFFF rgb(255, 255, 255)
            杏仁黄 #FAF9DE rgb(250, 249, 222)
            秋叶褐 #FFF2E2 rgb(255, 242, 226)
            胭脂红 #FDE6E0 rgb(253, 230, 224)
            青草绿 #E3EDCD rgb(227, 237, 205)
            海天蓝 #DCE2F1 rgb(220, 226, 241)
            葛巾紫 #E9EBFE rgb(233, 235, 254)
            极光灰 #EAEAEF rgb(234, 234, 239)
            -->
          <p><input type="radio"><input type="radio"><input type="radio"><input type="radio"></p>
          <h4>字体调整</h4>
          <p>
            <input type="checkbox" id="sidebarReflow" name="sidebarReflow">Reflow text when sidebars are open.
          </p>
        </div>
        <div class="closer fa  fa-times"></div>
      </div>
    </div>
  </div>