<div class="container">
  <div class="row">
      <img src="{{book.imgURL}}"  class="img-responsive center-block">
  </div>
  <div class="row">
    <p id="bookName">{{book.bookName}}</p>
    <p id="bookAuthor">{{book.bookAuthor}}</p>
    <p id="bookBrief">&nbsp;&nbsp;&nbsp;&nbsp;{{book.bookBrief}}</p>
      <p id="btn">
        <button  class="btn btn-default" id="addBookshelves">加入书架</button>
        <a [routerLink]="['/bookread',book.bookId]"><button  class="btn btn-default" id="readBook" >阅读</button></a>
    </p>
  </div>
</div>
