

#detail{
    margin-left: 50px;
}
#bookName{
    padding-top: 5px;
    font-size: 22px;
    text-align: center;
}
#bookAuthor{

    font-size: 18px;
    text-align: center;
}
#bookBrief{
    font-size: 15px;
    padding-top: 5px;
}
#btn{
    text-align: center;
}
#addBookshelves{
    width: 30%;
}
#readBook{
    width: 30%;
}